<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ims.buss.mapper.BuffetMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ims.buss.model.BuffetMenu">
        <id column="buffet_menu_id" property="buffetMenuId" />
        <result column="catalog_index_id" property="catalogIndexId" />
        <result column="menu_index_id" property="menuIndexId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    buffet_menu_id AS buffetMenuId,catalog_index_id AS catalogIndexId,menu_index_id AS menuIndexId,create_by AS createBy,create_time AS createTime
    </sql>

<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Map" resultType="com.ims.buss.model.BuffetMenu">
		SELECT
			<include refid="Base_Column_List" />	
		FROM t_buffet_menu
		<where>
		    <include refid="equal" />
		</where>
		<if test="_order != null and _order != ''">
		     ORDER BY ${_order}
		</if>			
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Map" resultType="com.ims.buss.model.BuffetMenu" useCache="false">
	    SELECT
			<include refid="Base_Column_List" />	
		FROM t_buffet_menu
		<where>
		    <include refid="equal" />
		</where>	
		<if test="_order != null and _order != ''">
		     ORDER BY ${_order}
		</if>		
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Map" resultType="com.ims.buss.model.BuffetMenu">
		SELECT
			<include refid="Base_Column_List" />	
		FROM t_buffet_menu
		<where>
		    <include refid="like" />
		</where>
		<if test="_order != null and _order != ''">
		     ORDER BY ${_order}
		</if>			
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Map" resultType="com.ims.buss.model.BuffetMenu" useCache="false">
	    SELECT
			<include refid="Base_Column_List" />	
		FROM t_buffet_menu
		<where>
		    <include refid="like" />
		</where>
		<if test="_order != null and _order != ''">
		     ORDER BY ${_order}
		</if>			
	</select>
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Map" resultType="String">
		SELECT
			${_expr}
		FROM t_buffet_menu
		<where>
		    <include refid="equal" />
		</where>
	</select>
    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="buffetMenuId != null and buffetMenuId != ''">
             AND buffet_menu_id = #{buffetMenuId}  <!-- 自助餐菜单编号 -->
		</if>
        <if test="catalogIndexId != null and catalogIndexId != ''">
             AND catalog_index_id = #{catalogIndexId}  <!--  -->
		</if>
        <if test="menuIndexId != null and menuIndexId != ''">
             AND menu_index_id = #{menuIndexId}  <!--  -->
		</if>
        <if test="createBy != null and createBy != ''">
             AND create_by = #{createBy}  <!-- 创建人编号 -->
		</if>
        <if test="createTime != null ">
             AND create_time = #{createTime}  <!-- 创建时间 -->
		</if>
    </sql>



    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="buffetMenuId != null and buffetMenuId != ''">
		      AND buffet_menu_id LIKE '%${buffetMenuId}%'  <!-- 自助餐菜单编号 -->
		</if>
        <if test="catalogIndexId != null and catalogIndexId != ''">
		      AND catalog_index_id LIKE '%${catalogIndexId}%'  <!--  -->
		</if>
        <if test="menuIndexId != null and menuIndexId != ''">
		      AND menu_index_id LIKE '%${menuIndexId}%'  <!--  -->
		</if>
        <if test="createBy != null and createBy != ''">
		      AND create_by LIKE '%${createBy}%'  <!-- 创建人编号 -->
		</if>
    </sql>

</mapper>
