<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ims.buss.mapper.StepSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ims.buss.model.StepSpec">
        <id column="spec_id" property="specId" />
        <result column="spec_index_id" property="specIndexId" />
        <result column="spec_name" property="specName" />
        <result column="spec_price" property="specPrice" />
        <result column="step_index_id" property="stepIndexId" />
        <result column="shop_id" property="shopId" />
        <result column="language_type" property="languageType" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="sort_no" property="sortNo" />
    </resultMap>
    
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    spec_id AS specId,spec_index_id AS specIndexId,spec_name AS specName,spec_price AS specPrice,step_index_id AS stepIndexId,shop_id AS shopId,language_type AS languageType,create_time AS createTime,create_by AS createBy,update_time AS updateTime,update_by AS updateBy,sort_no AS sortNo
    </sql>

<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Map" resultType="com.ims.buss.model.StepSpec">
		SELECT
			<include refid="Base_Column_List" />	
		FROM t_step_spec
		<where>
		    <include refid="equal" />
		</where>
		<if test="_order != null and _order != ''">
		     ORDER BY ${_order}
		</if>			
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Map" resultType="com.ims.buss.model.StepSpec" useCache="false">
	    SELECT
			<include refid="Base_Column_List" />	
		FROM t_step_spec
		<where>
		    <include refid="equal" />
		</where>	
		<if test="_order != null and _order != ''">
		     ORDER BY ${_order}
		</if>		
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Map" resultType="com.ims.buss.model.StepSpec">
		SELECT
			<include refid="Base_Column_List" />	
		FROM t_step_spec
		<where>
		    <include refid="like" />
		</where>
		<if test="_order != null and _order != ''">
		     ORDER BY ${_order}
		</if>			
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Map" resultType="com.ims.buss.model.StepSpec" useCache="false">
	    SELECT
			<include refid="Base_Column_List" />	
		FROM t_step_spec
		<where>
		    <include refid="like" />
		</where>
		<if test="_order != null and _order != ''">
		     ORDER BY ${_order}
		</if>			
	</select>
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Map" resultType="String">
		SELECT
			${_expr}
		FROM t_step_spec
		<where>
		    <include refid="equal" />
		</where>
	</select>
    <!-- Where精确匹配字段 -->
    <sql id="equal">
        <if test="specId != null and specId != ''">
             AND spec_id = #{specId}  <!-- 规格编号 -->
		</if>
        <if test="specIndexId != null and specIndexId != ''">
             AND spec_index_id = #{specIndexId}  <!-- 规格索引编号 -->
		</if>
        <if test="specName != null and specName != ''">
             AND spec_name = #{specName}  <!--  -->
		</if>
        <if test="specPrice != null ">
             AND spec_price = #{specPrice}  <!-- 规格价格 -->
		</if>
        <if test="stepIndexId != null and stepIndexId != ''">
             AND step_index_id = #{stepIndexId}  <!-- 步骤规格索引编号 -->
		</if>
        <if test="shopId != null and shopId != ''">
             AND shop_id = #{shopId}  <!-- 店铺编号 -->
		</if>
        <if test="languageType != null and languageType != ''">
             AND language_type = #{languageType}  <!-- 语言 -->
		</if>
        <if test="createTime != null ">
             AND create_time = #{createTime}  <!-- 创建时间 -->
		</if>
        <if test="createBy != null and createBy != ''">
             AND create_by = #{createBy}  <!-- 创建人ID -->
		</if>
        <if test="updateTime != null ">
             AND update_time = #{updateTime}  <!-- 修改时间 -->
		</if>
        <if test="updateBy != null and updateBy != ''">
             AND update_by = #{updateBy}  <!-- 修改用户编号 -->
		</if>
        <if test="sortNo != null ">
             AND sort_no = #{sortNo}  <!-- 排序号 -->
		</if>
    </sql>



    <!-- Where模糊匹配字段 -->
    <sql id="like">
        <if test="specId != null and specId != ''">
		      AND spec_id LIKE '%${specId}%'  <!-- 规格编号 -->
		</if>
        <if test="specIndexId != null and specIndexId != ''">
		      AND spec_index_id LIKE '%${specIndexId}%'  <!-- 规格索引编号 -->
		</if>
        <if test="specName != null and specName != ''">
		      AND spec_name LIKE '%${specName}%'  <!--  -->
		</if>
        <if test="stepIndexId != null and stepIndexId != ''">
		      AND step_index_id LIKE '%${stepIndexId}%'  <!-- 步骤规格索引编号 -->
		</if>
        <if test="shopId != null and shopId != ''">
		      AND shop_id LIKE '%${shopId}%'  <!-- 店铺编号 -->
		</if>
        <if test="languageType != null and languageType != ''">
		      AND language_type LIKE '%${languageType}%'  <!-- 语言 -->
		</if>
        <if test="createBy != null and createBy != ''">
		      AND create_by LIKE '%${createBy}%'  <!-- 创建人ID -->
		</if>
        <if test="updateBy != null and updateBy != ''">
		      AND update_by LIKE '%${updateBy}%'  <!-- 修改用户编号 -->
		</if>
    </sql>

</mapper>
